sudo: true

language: python

python:
- "3.5"
    
before_install:
- sudo apt-get install libblas-dev
- sudo apt-get install liblapack-dev
- sudo apt-get install gfortran

install:
- pip install pytest pytest-cov
- pip install coveralls
- pip install -r requirements.txt

before_script:
- python setup.py install

script: 
- py.test --cov-report term-missing --cov=pyls

after_success:
- coveralls